
@model IEnumerable<AgendaDistribuidas.Models.Contacto>
@{
    ViewBag.Title = "Home Page";
}
<h2>Contactos</h2>

<form asp-controller="Home" asp-action="Index">
    <p>
        Nombre: <input type="text" name="TextBusqueda">
        <input type="submit" value="Buscar" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Interno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sector)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Interno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sector.Descripcion)
                </td>
            </tr>
        }
    </tbody>
</table>