@model AgendaDistribuidas.Models.Contacto

@{
    ViewData["Title"] = "Detalle";
}

<h2>Detalle</h2>

<div>
    <h4>Contacto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Interno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Interno)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sector)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sector.Descripcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ContactoId">Editar</a> |
    <a asp-action="Index">Volver atrás</a>
</div>
